# ZooKeeper test deployment
zkconf/

# Virtualenv
.venv/

# Python
*.pyc

# Vim
.*.swp

# Sphinx generated docs
sphinx-output/
doc/_build/

# Setuptools
dist/
blacknight.egg-info/

# PyCharm workspace
.idea/workspace.xml